form{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align:center;
background: #F0F8FF;

}
h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 input::placeholder {
    font-style: italic;
    opacity: 1;
    color: #A9A9A9;}

    div {
      height: 200px;
      width: 400px;
      background: black;
  
      position: fixed;

      top: 50%;
      left: 30%;
      margin-top: -100px;
      margin-left: -200px;
  }
  body {
   background-image: url(https://www.wallpapertip.com/wmimgs/136-1369543_wallpaper-hd-laptop.jpg://www.robotlab.com/hs-fs/hubfs/Coding-blog-top.jpg?width=1260&name=Coding-blog-top.jpg://c0.wallpaperflare.com/preview/690/183/611/code-coding-connection-css.jpg);
   background-repeat:no-repeat;
   background-size: cover;
  }