body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355070;
    color: #f4f3ee;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f4f3ee;
}

form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #8b8c89;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-style: bold;
}

button:hover {
    background-color: #555;
}
